.carousel .slide img {
  width: 93%;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 1%;
  height: 500px;
}
.carousel-root {
  margin-top: 80px;
}
.carousel.carousel-slider {
  padding-bottom: 1%;
}
.carousel-status {
  display: none;
}
.carousel .thumbs-wrapper {
  display: none;
}
.carousel.carousel-slider .control-arrow {
  background-color: rgb(0 0 0 / 20%);
  margin: 82px 0px;
  top: 30px;
}
.carousel .control-dots {
  bottom: -10px;
}
.carousel.carousel-slider .control-arrow:hover {
  border: 1px solid white;
  background: rgb(0 0 0 / 48%);
}
@media (max-width: 768px) {
  .carousel-root {
    margin-top: 80px;
  }
  .carousel .slide img {
    height: 300px;
  }
}
