.map-background {
  background-image: url("../location.png");
  color: white;
  height: 454px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.location {
  position: relative;
  background-color: #343434;
  background-blend-mode: color-burn;
  margin: auto;
  left: -25%;
  border-radius: 14px;
  padding: 2%;
  transition: transform 0.2s ease;
  cursor: pointer;
  border: 5px solid black;
}
.location:hover {
  border: 5px solid #646cff;
}
.location h1 {
  font-size: 30px;
}
.location h2 {
  font-size: 20px;
  font-family: "Playfair Display", serif;
}
@media (max-width: 768px) {
  .map-background {
    height: 200px;
    background-size: cover;
  }
  .location {
    position: inherit;
  }
  .location h1 {
    font-size: 19px;
  }
  .location h2 {
    font-size: 14px;
  }
  .footer-left h1 {
    padding-left: 20px;
  }
}
