.menu-bar {
  padding: 4px;
  position: absolute;
  /* height: 100px; */
  display: flex;
  /*  */
  margin-top: 80px;
  /* background-color: rgba(151, 59, 145, 0.622); */
  background-image: url("https://images.unsplash.com/photo-1686019539035-d034ab44a075?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
  background-color: palevioletred;
  background-blend-mode: darken;
  position: absolute;
  width: 100vw;
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 768px) {
  .menu-bar {
    display: none;
  }
}
