.menu-bar {
  top: 90px;
  z-index: 999;
  font-family: "Playfair Display", serif;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.menu-bar button {
  margin: 0px 5px;
  background-color: rgba(255, 255, 255, 0.401);
  color: black;
  /* margin: 0px -100px; */
}
@media (max-width: 768px) {
  .menu-bar {
    display: none;
  }
  .menu-bar button {
    margin: 0px -20px;
  }
}
