.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 110vh;
  font-family: "Playfair Display", serif;
  background-image: url("https://images.unsplash.com/photo-1686019539035-d034ab44a075?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
  background-color: palevioletred;
  background-blend-mode: darken;
}
.signup-box {
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.signup-heading h1 {
  font-size: 30px;
  line-height: 0.1;
}
.signup-input {
  display: flex;
  flex-direction: column;
  padding: 8%;
  padding-top: 0%;
  align-items: center;
}
.signup-input input {
  width: 280px;
  padding: 2% 5%;
  font-size: large;
  margin-top: 8%;
  border: none;
  border-radius: 2px;
  font-family: "Playfair Display", serif;
}
.signup-button button {
  font-family: "Oswald", sans-serif;
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 1px;
  margin-bottom: 5px;
}
.signup-button p {
  color: white;
  text-decoration-line: underline;
}
.gender-selector {
  width: 100%;
  margin-top: 1%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}
.gender-div {
  justify-content: center;
  align-items: center;
  width: 80px;
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}
.gender-div h3 {
  margin-bottom: 5px;
  flex: 3;
  font-size: 14px !important;
}
.gender-div input {
  flex: 1;
  width: 10px !important;
  padding: 0px !important;
}
@media (max-width: 768px) {
  .signup-box {
    padding: 4% 6%;
  }
  .signup-page {
    background-position: right;
    height: 120vh;
  }
  .signup-heading h1 {
    font-size: 30px;
  }
}
